<h2>Создание новости</h2>

<form asp-action="Create" asp-controller="AllNews" method="post" enctype="multipart/form-data">
    <label for="nameAllNews">Наименование новости</label>
    <input type="text" id="nameAllNews" name="newsAllName"/>
    
    <label for="descriptionAllNews">Описание новости</label>
    <input type="text" id="descriptionAllNews" name="allNewsDescription"/>

    <input type="file" name="uploadedFiles" multiple/>
    <div>
        <input type="submit" value="Сохранить новость" />
    </div>


</form>